<div class="container" style="display: flex; align-items: center; justify-content: center; margin: 50px 50px ;">
    <h3>Ingreso de Usuario</h3>
    <form action="/admin/login" method="post" style="margin-left: 15px;">
        <div class="mb-3 row">
            <div class="col-15">
                <input type="text" class="form-control" id="inputUser" name="usuario" placeholder="Usuario">
            </div>
        </div>
        <div class="mb-3 row">
            <div class="col-15">
                <input type="password" class="form-control" name="password" id="inputPassword" placeholder="Contraseña">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Ingresar</button>

        {{#if error}}
        <p style="background-color: red; margin-top: 10px;">Usuario o contraseña incorrectos</p>
        {{/if}}
    </form>
</div>