<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/admin.css" />
    <title>Peluqueria Canina</title>
</head>

<body>
    <header class="header">
        <div class="centro1">
            <div class="logo">
                <h2>Peluqueria Canina X</h2>
                <p>Servicio de peluquería canina y felina</p>
            </div>

        </div>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer class="pie">
        <div class="centropie">
            <p>(c) Todos los derechos reservados. Diseñado por Alex Elias - 2021</p>
        </div>
    </footer>
</body>

</html>