<div class="container" style="margin: 100px auto">
    <div class="row">
        <div class="col-6 offset-3">
            <h4>Agregar una nueva novedad</h4>
            <form action="/admin/novedades/agregar" method="post">
                <div class="form-group mt-4">
                    <input type="text" class="form-control" placeholder="Titulo" name="titulo">
                </div>
                <div class="form-group mt-3">
                    <textarea name="subtitulo" placeholder="Subtitulo" class="form-control"></textarea>
                </div>
                <div class="form-group mt-3">
                    <textarea name="cuerpo" placeholder="Cuerpo" class="form-control"></textarea>
                </div>
                <button type="submit" class="btn btn-primary mt-3">Guardar</button>
            </form>
        </div>
        {{#if error}}
        <h5>{{message}}</h5>
        {{/if}}
    </div>
</div>